/* Just makes the opacity work in IE...where IE knows how to make opacity work 
  * I kept in the opacity property just in case IE8 ever gets it together 
  */

#wrapper {
  background-color: rgb(27, 16, 39);
  filter: alpha(opacity = 80);
  opacity: 0.8;
}

.header-wrapper {
  filter: alpha(opacity = 70);
  background: rgb(58, 46, 72);
  opacity: 0.7;
}

#right .block h2 {
  filter: alpha(opacity = 70);
  background: rgb(58, 46, 72);
  opacity: 0.7;
}