body {
  background: #5c4972 url('/sites/all/themes/royal/images/bg.png');
  font-family: helvetica, sans-serif;
  font-size: 62.5%;
}

.wrapper {
  font-size: 14px;
  color: #B0A7BA;
}

a {
  color: #80689B;
}

h1 {
  margin: 0;
}

#header {
  margin: 0 auto;
  overflow: hidden;
  padding-top: 50px;
  width: 970px;
}

#header h1,
#header h1 a {
  color: #b8c881;
  text-shadow: 2px 2px #333;
  text-decoration: none;
  font-weight: normal;
  float: left;
  font-size: 1.8em;
  text-transform: uppercase;
  margin-top: 4px;
}

#header-links {
  float: right;
  margin-top: 20px;
}

  #header-links li {
    margin: 0 .6em 0 0;
  }

  #header-links a {
    color: #968bb2;
    font-size: 2em;
    text-decoration: none;
    text-transform: lowercase;
    text-shadow: 2px 2px #333;
  }
  
  #header-links a:hover {
    color: #9ca26b;
  }

#wrapper {
  background-color: rgba(27, 16, 39, .5);
  margin: 0 auto;
  overflow: visible;
  padding: 50px 10px 10px;
  width: 950px;
}

.header-wrapper {
  background: rgba(58, 46, 72, .4);
  border: 1px solid #3a2e48;
  padding: 5px 10px;
  margin-left: -70px;
  overflow: hidden;
  line-height: 2.2em;
}

  .header-wrapper h1.title,
  .header-wrapper h1.title a,
  #comments h2,
  .box h2 {
    color: #B0A7BA;
    text-transform: uppercase;
    font-weight: normal;
    text-decoration: none;
  }
  
  .header-wrapper .date {
    float: left;
    text-align: center;
    text-transform: uppercase;
    font-size: 2em;
    margin-right: 20px;
  }
  
    .header-wrapper .date .day {
      color: #8c8b79;
    }
    
    .header-wrapper .date .year {
      color: #80689b;
    }
    
  .header-wrapper .byline {
    color: #8c8b79;
    font-size: 1.5em;
  }
    .header-wrapper .byline a {
      color: #8c8b79;
      text-decoration: underline; 
    }

  .header-wrapper .comments,
   #content #comments h3.title {
    color: #80689b;
    font-size: 1.5em;
  }
    .header-wrapper .comments a,
    #content #comments h3.title a {
      color: #80689b;
    }
  
#content {
  float: left;
  margin-right: 15px;
  width: 600px;
  color: #b0a7ba;
}

  #content .entry,
  .comment p {
    color: #b0a7ba;
    font-size: 1.5em;
    line-height: 1.8em;
  }

  #content .entry a,
  .comment p a {
    color: #80689b;
    text-decoration: none;
  }
  
    #content a:hover {
      text-decoration: underline;
    }
    
    .comment {
      margin-bottom: 15px;
    }
    
    .comment p {
      margin: 5px 0;
    }
      
    #comments h3.title {
      margin: 0 0 5px 0;
    }
    
    #comments .submitted {
      font-size: 1.4em;
      color: #8c8b79;
    }
    
      #comments .submitted a {
        color: #8c8b79;
      }
      
.box .content {
  font-size: 1.4em;
}

input,
textarea {
  background: #5f4b75;
  border: 2px solid #3a2e48;
  color: #b8c881;
  font-family: helvetica, sans-serif;
  font-size: 1.3em;
}

  .form-submit {
    padding: 3px 3px 0 3px;
    text-transform: uppercase;
    font-size: 1.1em;
  }

#right {
  float: left;
  width: 325px;
}

  #right .block {
    margin-bottom: 20px;
  }

  #right .block h2 {
    background: rgba(58, 46, 72, .4);
    color: #979683;
    text-transform: uppercase;
    font-weight: normal;
    margin: 0 0 15px;
    padding: 5px 8px 5px 0;
    font-size: 2em;
  }
  
  #right .block .content {
    color: #9F97A8;
    font-size: 1.4em;
    line-height: 1.6em;
  }
  
.float {
  clear: both;
}

.divider {
  margin: 0 auto;
  display: block;
}

ul.links li.first {
  padding-left: 0;
}

#footer {
  margin: 0 auto;
  overflow: hidden;
  padding: 10px 0;
  width: 970px;
}

#footer-links,
#footer-shadow {
  color: #b0a7ba;
  font-size: 1.5em;
}

#footer-shadow {
  float: right;
}

  #footer-links a,
  #footer-shadow a {
    color: #b0a7ba;
    text-decoration: none;
    text-shadow: 2px 2px #333333;
  }

.credit {
  font-size: 1.4em;
  text-align: center;
}

  .credit a {
    color: #B0A7BA;
  }